<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body style="display:flex; justify-content:center; align-items:center; height:100vh; background:#0f172a; color:white;">

<div style="text-align:center;">
    <h1 style="font-size:3rem;">🔥 Vapers Store</h1>
    <p style="margin-bottom:20px;">Sistema de inventario y ventas</p>

    <a href="/login" class="btn-main" style="font-size:1.2rem;">🚀 Entrar</a>
</div>

</body>
</html>